.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    background-color: var(--lightGrey);
}
.gridItem{
    margin-bottom: 30px;
    width: 25rem;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

@media only screen and (max-width: 600px) {
    .gridContainer{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .gridItem{
        margin-top: 20px;
        width: 15rem;
    }
  }